<?xml version="1.0" encoding="UTF-8"?>
<widget id="TIC-TAC-TOE.myapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>TIC-TAC-TOE</name>
    <description>A simple TIC-TAC-TOE  made from HTML/CSS/JS</description>
    <author email="raomuhammadraza11@gmail.com" href="http://example.com">M.RAZA</author>
    <content src="index.html" />
    <preference name="Fullscreen" value="true" />
    <preference name="android-windowNoTitle" value="true" />
    <preference name="android-hideTitleBar" value="true" />
    <preference name="Orientation" value="portrait" />
</widget>