<?xml version="1.0" encoding="UTF-8"?>
<style name="Base.Theme.MyApp" parent="Theme.MaterialComponents.DayNight.NoActionBar">

<widget id="com.raza.tictactoe"
        version="1.0.0"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0">

    <name>Tic Tac Toe</name>

    <description>
        A simple Tic Tac Toe made from HTML/CSS/JS
    </description>

    <author email="raomuhammadraza11@gmail.com">
        M. Raza
    </author>

    <content src="index.html" />

    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="portrait" />

    <allow-intent href="https://*" />
    <allow-intent href="http://*" />
    <allow-intent href="whatsapp:*" />
    <allow-intent href="instagram:*" />

</widget>