/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Body */
body {
    background: #111827;
    background-image: url("paisa.jpg");
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.welcome-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.welcome-msg {
    background: white;
    padding: 2rem 3rem;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    color: #000000;
}

.welcome-msg h1 {
    margin-bottom: 1rem;
}

.start-btn {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #0d6efd;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.start-btn:hover {
    background: #0b5ed7;
}

/* NAVBAR  */

.navbar {
    display: flex;
    justify-content:flex-start;  /* Important */
    align-items: center;
    padding: 15px 10px 10px 10px;
    /* background: #42643a; */
    background: linear-gradient(135deg, #385e30, #8fbc8f);
    box-shadow: 0 2px 10px rgba(0,0,0,0.4);
}
.logo {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    margin-left: 1px;
    width: 80%;
}
.theme {
    position: relative;
    cursor: pointer;
    font-size: 25px;
    width: 20%;
}


button.contact-btn {
    font-size: 25px;
    cursor: pointer;
    width: 20%;
    background: none;
    border: none;
    color: white;
}
.contact-box {
    position: absolute;
    top: 35px;
    right: 0;
    background: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    color: black;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Theme Popup */
.theme-options {
    position: absolute;
    top: 35px;
    right: 0;
    background: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 10px;
    width: 150px;
    height: 700px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    
        .p1{
         background-image:url("p1.jpg");
         background-size: cover;
        }
        .p2{
            background-image: url("p2.jpg");
            background-size: cover;
        }
        .p3{
            
            background-image:url("p3.jpg");
            background-size: cover;
        }
        .ch{
            background-image: url("choze.jpg");
             background-size: cover;
        }
        .ps{
            background-image: url("paisa.jpg");
             background-size: cover;
        }
        .st{
            background-image: url("star.jpg");
             background-size: cover;
        }
        .bil{
            background-image: url("bilian.jpg");
             background-size: cover;
        }
        .gl{
            background-image: url("golo.jpg");
             background-size: cover;
         }
}

.theme-option {
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    transition: 0.3s;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .theme-option:hover {
    background: ;
    color: #000000;
} */
.theme-option:click {
    background: transparent;
    border: 5px solid #000000;
}

.creator {
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
    color: #9ca3af;
    bottom: 10px;
}

.hide {
    display: none;
}

/* ================= GAME AREA ================= */

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Game Container */
.container {
    margin-top: 20px;
}

/* Game Grid */
.game {
    display: grid;
    grid-template-columns: repeat(3, 110px);
    gap: 10px;
}

/* Game Boxes */
.box {
    width: 110px;
    height: 110px;
    font-size: 45px;
    font-weight: bolder;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    background:#2f522871 ;
    color: #ffffff;
    transition: 0.3s ease;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    border: 2px solid #5b8a50;
}

.box:hover {
    /* background: #5b8a50; */
    background: linear-gradient(135deg, #5b8a50, #8fbc8f);
    color: white;
    transform: scale(1.05);
}

/* Reset Button */
.reset {
    margin-top: 25px;
    padding: 10px 25px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    background: #ffffff;
    color: rgb(5, 0, 0);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

.reset:hover {
    color: white;
    background: linear-gradient(135deg, #5b8a50, #8fbc8f);
}

/* ================= MESSAGE POPUP ================= */

.msg-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.6);
    z-index: 10;
}

.msg {
    font-size: 22px;
    margin-bottom: 15px;
    color: #000000;
    font-weight:bolder ;
}

.new-btn {
    padding: 8px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: #195d08;
    color: white;
    transition: 0.3s;
}

.new-btn:hover {
    background: #16a34a;
}

/* ================= THEMES ================= */
/* billian purple */
body.bilian {
    background-image: url("bilian.jpg");
    background-size: cover;
}
body.bilian .navbar {
    background: linear-gradient(90deg, #3a0553, #da58b1);
}
body.bilian .box {
    background-color:#3a055399;
    box-shadow: 0 8px 15px rgba(62, 42, 50, 0.5);
    color: #ffffff; 
    border: 3px solid #da58b1;
    transition: 0.3s ease;
}
body.bilian .box:hover {
    background: linear-gradient(90deg, #3a0553, #da58b1);
    transform: scale(1.05);
    transition: 0.3s ease;
}
body.bilian .reset {
    background: white;
    border: 1px solid #da58b1;
    ;
}
body.bilian .reset:hover {
    background: linear-gradient(90deg, #3a0553, #da58b1);
    color: white;
}
/* power2 */
body.power2 {
    background-image: url("p2.jpg");
    background-size: cover;
    background-position: center;
}
body.power2 .navbar {
    background: linear-gradient(90deg, #00649a, #4597c1);
}
body.power2 .box {
    background-color: rgba(87, 127, 255, 0.649);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
    color:#00517c;
    transition: 0.3s ease;
    border: 2px solid #4597c1;
}

body.power2 .box:hover {
    background: linear-gradient(90deg, #00649a, #4597c1);
    transform: scale(1.05);
}
body.power2 .reset {
    background: white;
    border: 1px solid #00517c;
    color: #00517c;
}
body.power2 .reset:hover {
    background: #0369a1;
    color: white;
}
/* choze */
body.choze {
    background-image: url("choze.jpg");
     background-size: cover; 
}
body.choze .navbar {
     background: #f8ff1f; 
     color: #000000;  
}
body.choze .contact-btn {
    background: #f8ff1f;
    color: #000000;
    
}
body.choze .logo {
    color: #000000;
}
body.choze .reset {
    background: #ffffff;
    border: 1px solid #000000;
    color: #000000;
}
body.choze .reset:hover {
    background: #000000;
    color: #f8ff1f;
}
body.choze .box {
    background-color: #ffdc1682;
    border: 3px solid #000000;
    color: #000000; 
}
body.choze .box:hover {
    background: #ffffff;
    color:#ffdc16 ;
}

/* star*/
body.star{
    background-image: url("star.jpg");
    /* background: #000000; */
}
body.star .navbar {
    background: #080808;
    border-bottom: 2px solid #c51135;
    color: rgb(219, 212, 212);
    
}
body.star .box {
    background: #000000;
    color: #c51135;
    border: 2px solid #c51135;
    
}
body.star .box:hover {
    background: #c51135;
    color: rgb(0, 0, 0);
}
body.star .reset {
    background: #151515;
    border: 1px solid #c51135;
    color: white;
}
body.star .reset:hover {
    background: #c51135;
    color: white;
}

body.star .theme-options {
    background: #080808;
    border: 2px solid #c51135;
    color: #ffffff;
}
body.star .box:hover {
    background: #c51135;
}
/* power2 */
body.power1 {
    background-image: url("p1.jpg");
    background-size: cover;
    background-position: center;
}
body.power1 .navbar {
    background: linear-gradient(90deg, #b10303, #a43649);
}
body.power1 .box {
    background-color: #b103038e;
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
    color:#ffffff;
    transition: 0.3s ease;
    border: 2px solid #a43649;
}

body.power1 .box:hover {
    background: #a43648b7;
    transform: scale(1.05);
}
body.power1 .reset {
    background: white;
    border: 1px solid #b10303;
    color: #b10303;
}
body.power1 .reset:hover {
    background: linear-gradient(90deg, #b10303, #a43649);
    color: white;
}
/* power3 */
body.power3 {
    background-image: url("p3.jpg");
    background-size: cover;
    background-position: center;
}
body.power3 .navbar {
    background: linear-gradient(90deg, #62a425, #a2c322);
}
body.power3 .box {
    background-color: #62a42588;
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
    color:#ffffff;
    transition: 0.3s ease;
    border: 2px solid #a2c322;
}

body.power3 .box:hover {
    background:#a3c322b7;
    transform: scale(1.05);
}
body.power3 .reset {
    background: white;
    border: 1px solid #a2c322;
    color: #000000;
}
body.power3 .reset:hover {
    background: linear-gradient(90deg, #00649a, #4597c1);
    color: white;
}
/* golo*/
body.golo {
    background-image: url("golo.jpg");
    background-size: cover;
    background-position: center;
}
body.golo .navbar {
    background: linear-gradient(90deg, #ff76cf, #4c0b60);
}
body.golo .box {
    background-color: #ff76cf88;
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
    color:#ffffff;
    transition: 0.3s ease;
    border: 2px solid #4c0b60;
}

body.golo .box:hover {
    background:#4c0b60b7;
    transform: scale(1.05);
}
body.golo .reset {
    background: white;
    border: 1px solid #4c0b60;
    color: #000000;
}
body.golo .reset:hover {
    background: linear-gradient(90deg, #ff76cf, #4c0b60);
    color: white;
}