/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Body */
body {
    background: #111827;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* ================= NAVBAR ================= */

.navbar {
    display: flex;
    justify-content:flex-start;  /* Important */
    align-items: center;
    padding: 15px 10px 10px 10px;
    background: #1f2937;
    box-shadow: 0 2px 10px rgba(0,0,0,0.4);
}
.logo {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    margin-left: 1px;
    width: 80%;
}
.theme {
    position: relative;
    cursor: pointer;
    font-size: 25px;
    width: 20%;
}

.contact {
    font-size: 25px;
    cursor: pointer;
    width: 20%;
}

/* Theme Popup */
.theme-options {
    position: absolute;
    top: 35px;
    right: 0;
    background: #ffffff;
    padding: 15px;
    border-radius: 10px;
    width: 150px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    .p{
        background: #be185d
    }
        .b{
            background: #0284c7
        }
        .w{
            background: #047857;
            background-image:url("wood2.jpg");
        }
        .d{
            background: #000000
        }
}

.theme-option {
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    transition: 0.3s;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-option:hover {
    background: #988f8f;
    color: #000000;
}

.creator {
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
    color: #9ca3af;
    bottom: 10px;
}

.hide {
    display: none;
}

/* ================= GAME AREA ================= */

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Game Container */
.container {
    margin-top: 20px;
}

/* Game Grid */
.game {
    display: grid;
    grid-template-columns: repeat(3, 110px);
    gap: 10px;
}

/* Game Boxes */
.box {
    width: 110px;
    height: 110px;
    font-size: 45px;
    font-weight: bolder;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    background: #1f2937;
    color: white;
    transition: 0.3s ease;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.box:hover {
    /* background: #374151; */
    transform: scale(1.05);
}

/* Reset Button */
.reset {
    margin-top: 25px;
    padding: 10px 25px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    background: #ffffff;
    color: rgb(5, 0, 0);
    transition: 0.3s;
}

.reset:hover {
    background: #dc2626;
}

/* ================= MESSAGE POPUP ================= */

.msg-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1f2937;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.6);
    z-index: 10;
}

.msg {
    font-size: 22px;
    margin-bottom: 15px;
    color: #facc15;
}

.new-btn {
    padding: 8px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: #22c55e;
    color: white;
    transition: 0.3s;
}

.new-btn:hover {
    background: #16a34a;
}

/* ================= THEMES ================= */

/* Pink */
body.pink {
    background: #DA5552;
}
body.pink .navbar {
    background: #CC444B;
}
body.pink .box {
    background: #DF7373;
    box-shadow: 10 10 10px rgba(62, 42, 50, 0.5);
}
body.pink .box:hover {
    background: #CC444B;
}

/* Blue */
body.blue {
    background: #0c4a6e;
}
body.blue .navbar {
    background: #075985;
}
body.blue .box {
    background: #0284c7;
}
body.blue .box:hover {
    background: #0369a1;
}

/* Green */
body.wood {
    background-image: url("wood2.jpg");
    
}
body.wood .navbar {
    /* background: #065f46; */
    background-image: url("wood.jpg");
    
    

}
body.wood .box {
    background: #047857;
    color: #ffffff;
    background-image: url("wood.jpg");
}
body.wood .box:hover {
    background: #49280f;
}

/* Purple */
body.dark{
    background: #000000;
}
body.dark .navbar {
    background: #080808;
    border-bottom: 2px solid #ff0062;
    color: rgb(219, 212, 212);
    
}
body.dark .box {
    background: #000000;
    color: rgb(255, 0, 98);
    border: 2px solid #ff0062;
    
}
body.dark .reset {
    background: #151515;
    border: 1px solid #ff0062;
    color: white;
}
body.dark .reset:hover {
    background: #ff0062;
    color: white;
}
body.dark .msg-container {
    background: #080808;
    border: 2px solid #ff0062;
}
body.dark .theme-options {
    background: #080808;
    border: 2px solid #ff0062;
    color: #ffffff;
}
body.dark .box:hover {
    background: #ff5496;
}