*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #000000;
    text-align: center;

}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 90vmin;
    width: 90vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 28vmin;
    width: 28vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(0, 0, 0,0.1);
    font-size: 8vmin;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    background-color: #ffffff;

}
.reset{
    padding: 1rem;
    font-size: 1.5rem;
    background-color:rgb(112, 3, 3) ;
    color: white;
    border-radius: 1rem;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    bottom: 20px;
    position: relative;
    width: 100px;

}
.new-btn{
    padding: 1rem;
    font-size: 1.5rem;
    background-color:rgb(112, 3, 3) ;
    color: white;
    border-radius: 1rem;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.msg{
    color: rgb(112, 3, 3);
    font-size: 5vmin;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.msg-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 30px;
    top:50%;

}
.hide{
    display: none;
}
.new-btn{
    display: none;
}
h1{
    color: rgb(112, 3, 3);
    font-size: 10vmin;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    top: 20vmin;
    
}